$black-color: #222;
$blue-color: #6dabe4;
$grey-light: #999;

// mixin
@mixin border-radius($value) {
  border-radius: $value;
  -moz-border-radius: $value;
  -webkit-border-radius: $value;
  -o-border-radius: $value;
  -ms-border-radius: $value;
}



@mixin background-gradient-three($color1, $color2, $color3) {
  background: linear-gradient($color1, $color2, $color3);
  background: -moz-linear-gradient($color1, $color2, $color3);
  background: -webkit-linear-gradient($color1, $color2, $color3);
  background: -o-linear-gradient($color1, $color2, $color3);
  background: -ms-linear-gradient($color1, $color2, $color3);
}

@mixin background-gradient-six($color1, $color2, $color3, $color4, $color5, $color6) {
  background: linear-gradient($color1, $color2, $color3, $color4, $color5, $color6);
  background: -moz-linear-gradient($color1, $color2, $color3, $color4, $color5, $color6);
  background: -webkit-linear-gradient($color1, $color2, $color3, $color4, $color5, $color6);
  background: -o-linear-gradient($color1, $color2, $color3, $color4, $color5, $color6);
  background: -ms-linear-gradient($color1, $color2, $color3, $color4, $color5, $color6);
}

@mixin transform($value) {
  transform: $value;
  -moz-transform: $value;
  -webkit-transform: $value;
  -o-transform: $value;
  -ms-transform: $value;
}

@mixin box-shadow($value) {
  box-shadow: $value;
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
  -o-box-shadow: $value;
  -ms-box-shadow: $value;
}

@mixin filter($value) {
  filter: $value;
  -moz-filter: $value;
  -webkit-filter: $value;
  -o-filter: $value;
  -ms-filter: $value;
}

@mixin transition($value) {
  transition: $value;
  -moz-transition: $value;
  -webkit-transition: $value;
  -o-transition: $value;
  -ms-transition: $value;
}

@mixin animation($value) {
  animation: $value;
  -moz-animation: $value;
  -webkit-animation: $value;
  -o-animation: $value;
  -ms-animation: $value;
}

@mixin transform-origin($value) {
  transform-origin: $value;
  -moz-transform-origin: $value;
  -webkit-transform-origin: $value;
  -o-transform-origin: $value;
  -ms-transform-origin: $value;
}

@mixin appearance($value) {
  appearance: $value !important;
  -moz-appearance: $value !important;
  -webkit-appearance: $value !important;
  -o-appearance: $value !important;
  -ms-appearance: $value !important;
}

@mixin box-shadow-input($value) {
  box-shadow: $value !important;
  -moz-box-shadow: $value !important;
  -webkit-box-shadow: $value !important;
  -o-box-shadow: $value !important;
  -ms-box-shadow: $value !important;
}

//flex
@mixin flex-wrap($value) {
  flex-wrap: $value;
  -moz-flex-wrap: $value;
  -webkit-flex-wrap: $value;
  -o-flex-wrap: $value;
  -ms-flex-wrap: $value;
}

@mixin flex-direction($value) {
  flex-direction: $value;
  -moz-flex-direction: $value;
  -webkit-flex-direction: $value;
  -o-flex-direction: $value;
  -ms-flex-direction: $value;
}

@mixin flex-flow($value) {
  flex-flow: $value;
  -moz-flex-flow: $value;
  -webkit-flex-flow: $value;
  -o-flex-flow: $value;
  -ms-flex-flow: $value;
}

@mixin justify-content($value) {
  justify-content: $value;
  -moz-justify-content: $value;
  -webkit-justify-content: $value;
  -o-justify-content: $value;
  -ms-justify-content: $value;
}

@mixin align-items($value) {
  align-items: $value;
  -moz-align-items: $value;
  -webkit-align-items: $value;
  -o-align-items: $value;
  -ms-align-items: $value;
}

@mixin order($value) {
  order: $value;
  -moz-order: $value;
  -webkit-order: $value;
  -o-order: $value;
  -ms-order: $value;
}

@mixin flex($value) {
  flex: $value;
  -moz-flex: $value;
  -webkit-flex: $value;
  -o-flex: $value;
  -ms-flex: $value;
}


@mixin input-placeholder($value) {
  &::-webkit-input-placeholder {
    color: $value;
  }

  &::-moz-placeholder {
    color: $value;
  }

  &:-ms-input-placeholder {
    color: $value;
  }

  &:-moz-placeholder {
    color: $value;
  }
}

.signup-content {
  background: #fff;
  @include border-radius(10px);
  padding: 50px 85px;
}

.form-group {
  overflow: hidden;
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  border: 1px solid rgb(235, 235, 235);
  @include border-radius(5px);
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: $black-color;
  @include input-placeholder($grey-light);
  &::-webkit-input-placeholder

{
  font-weight: 500;
}

&::-moz-placeholder {
  font-weight: 500;
}

&:-ms-input-placeholder {
  font-weight: 500;
}

&:-moz-placeholder {
  font-weight: 500;
}

&:focus {
  border: 1px solid transparent;
  -webkit-border-image-source: -webkit-linear-gradient(to right, rgb(159,172,230), rgb(116,235,213));
  -moz-border-image-source: -moz-linear-gradient(to right, rgb(159,172,230), rgb(116,235,213));
  -o-border-image-source: -o-linear-gradient(to right, rgb(159,172,230), rgb(116,235,213));
  border-image-source: linear-gradient(to right, rgb(159,172,230), rgb(116,235,213));
  -webkit-border-image-slice: 1;
  border-image-slice: 1;
  @include border-radius(5px);
  @include input-placeholder($black-color);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

}

.form-input-error {
  width: 100%;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: red;
}


.form-submit {
  width: 100%;
  @include border-radius(5px);
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-image: -moz-linear-gradient(to left, #74ebd5,#9face6);
  background-image: -ms-linear-gradient(to left, #74ebd5,#9face6);
  background-image: -o-linear-gradient(to left, #74ebd5,#9face6);
  background-image: -webkit-linear-gradient(to left, #74ebd5,#9face6);
  background-image: linear-gradient(to left, #74ebd5,#9face6);
}

input[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none;
}

  input[type=checkbox]:not(old) + label {
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 25px;
  }

    input[type=checkbox]:not(old) + label > span {
      display: inline-block;
      width: 13px;
      height: 13px;
      margin-right: 15px;
      margin-bottom: 3px;
      border: 1px solid #ebebeb;
      @include border-radius(2px);
      background: rgb(255,255,255);
      background-image: -moz-linear-gradient(rgb(255,255,255),rgb(255,255,255));
      background-image: -ms-linear-gradient(rgb(255,255,255),rgb(255,255,255));
      background-image: -o-linear-gradient(rgb(255,255,255),rgb(255,255,255));
      background-image: -webkit-linear-gradient(rgb(255,255,255),rgb(255,255,255));
      background-image: linear-gradient(rgb(255,255,255),rgb(255,255,255 ));
      vertical-align: bottom;
    }

  input[type=checkbox]:not(old):checked + label > span, {
    background-image: -moz-linear-gradient(rgb(255,255,255),rgb(255,255,255));
    background-image: -ms-linear-gradient(rgb(255,255,255),rgb(255,255,255));
    background-image: -o-linear-gradient(rgb(255,255,255),rgb(255,255,255));
    background-image: -webkit-linear-gradient(rgb(255,255,255),rgb(255,255,255));
    background-image: linear-gradient(rgb(255,255,255),rgb(255,255,255 ));
  }

    input[type=checkbox]:not(old):checked + label > span:before {
      content: '\f26b';
      display: block;
      color: $black-color;
      font-size: 11px;
      line-height: 1.2;
      text-align: center;
      font-family: 'Material-Design-Iconic-Font';
      font-weight: bold;
    }

.label-agree-term {
  font-size: 12px;
  font-weight: 600;
  color: #555;
}

.term-service {
  color: #555;
}

.loginhere {
  color: #555;
  font-weight: 500;
  text-align: center;
  margin-top: 91px;
  margin-bottom: 5px;
}

.loginhere-link {
  font-weight: 700;
  color: $black-color;
}

.field-icon {
  float: right;
  margin-right: 17px;
  margin-top: -32px;
  position: relative;
  z-index: 2;
  color: #555;
}
